
<div id="rap1">
 <div id="rap2">
<img src="assets/images.png" alt="" height="90px" width="170px">
</div>
<div id="rap3">
    <p id="rap4">RAP Admin Portal</p>

    <p id="rap5">Joe smith</p>
</div>
    
</div>

<div id="nav1">
    <div id="nav2">
        <nav>
            <ul >
                <li id="list">
                    <a routerLink="/home">Home</a>
                    
                </li>
                <li  id="list">
                    <a routerLink="list">List</a>
                </li>
                <li id="list">
                    <a routerLink="telemetry">Telemetry</a>
                </li>
                <li  id="list">
                    <a routerLink="subscription" >Subscription Approval</a>
                </li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>




        
        
       